## Import

In [42]:
import numpy as np
import pandas as pd
import seaborn as sns
import nltk
from nltk.corpus import stopwords
import string

In [43]:
dataset = pd.read_csv('emails.csv')
dataset

                                                   text  spam
0     Subject: naturally irresistible your corporate...     1
1     Subject: the stock trading gunslinger  fanny i...     1
2     Subject: unbelievable new homes made easy  im ...     1
3     Subject: 4 color printing special  request add...     1
4     Subject: do not have money , get software cds ...     1
...                                                 ...   ...
5723  Subject: re : research and development charges...     0
5724  Subject: re : receipts from visit  jim ,  than...     0
5725  Subject: re : enron case study update  wow ! a...     0
5726  Subject: re : interest  david ,  please , call...     0
5727  Subject: news : aurora 5 . 2 update  aurora ve...     0

[5728 rows x 2 columns]

In [44]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5728 entries, 0 to 5727
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    5728 non-null   object
 1   spam    5728 non-null   int64
dtypes: int64(1), object(1)
memory usage: 89.6+ KB

In [45]:
# Checking null/missing values
dataset.isnull().sum()

text    0
spam    0
dtype: int64

In [46]:
# Counts of spams and non-spams
dataset['spam'].value_counts()

spam
0    4360
1    1368
Name: count, dtype: int64

## Removing Punctutaion

In [47]:
def remove_punctuation(text):
    no_punct = "".join([words for words in text if words not in string.punctuation])
    return no_punct
dataset["text"] = dataset['text'].apply(lambda x: remove_punctuation(x))
dataset.head()

                                                text  spam
0  Subject naturally irresistible your corporate ...     1
1  Subject the stock trading gunslinger  fanny is...     1
2  Subject unbelievable new homes made easy  im w...     1
3  Subject 4 color printing special  request addi...     1
4  Subject do not have money  get software cds fr...     1

## Removing Stopwords

In [48]:
stopword = set(stopwords.words('english'))
stopword.add('Subject')
def remove_stopwords(text):
    return " ".join([word for word in str(text).split() if word not in stopword])
dataset['text'] = dataset['text'].apply(lambda x: remove_stopwords(x))
dataset.head()

                                                text  spam
0  naturally irresistible corporate identity lt r...     1
1  stock trading gunslinger fanny merrill muzo co...     1
2  unbelievable new homes made easy im wanting sh...     1
3  4 color printing special request additional in...     1
4  money get software cds software compatibility ...     1